.header {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1 {
    font-size: 42px;
    font-family: "Coiny", sans-serif;
    line-height: 1;
    margin-top: 6px;
}

h1::first-letter {
    color: #CC8899;
}